body {
  background-color: #d8f3fc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 25px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.card h2 {
  color: #008c9e;
  margin-bottom: 20px;
}

#password {
  width: 250px;
  padding: 10px;
  border: 1px solid #bdefff;
  background-color: #e8faff;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}

#generateBtn {
  background-color: #00bcd4;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#generateBtn:hover {
  background-color: #009fb5;
}
